body{
    font-family:arial;
}

input[type="button"],input[type="submit"]{
    cursor:pointer;
}

.form-register{
    border-radius:5px;
    box-shadow:0px 0px 3px;
    background-color:#cfcfcf;
    padding:5px;
    text-align:center;
}
.form-register input{
    width:90%;
    height:25px;
}

#nav div{
    border:1px solid;
    margin:10px;
    padding:5px;
    display:inline-block;
    vertical-align:top;
    position:relative;
}
#nav ul li{
    list-style-type: none;
}

/* SYSTEM */
.sys-alert{
    position:fixed;
    width:30%;
    top:25px;
    left:35%;
    border-radius:5px;
    box-shadow:0px 0px 5px;
    padding:2%;
}
.sys-alert img{
    width:10%;
}
.sys-alert span{
    margin:5px;
    float:right;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #000 inset;
    text-shadow: 1px 1px #999;
}
.alert-1{
    background-color:#CEFFCE;
    color:#009900;
    border:2px solid #009900;
}
.alert-2{
    background-color:#FFC7C7;
    color:#990000;
    border:2px solid #990000;
}
.alert-3{
    background-color:#F9F9B8;
    color:#999900;
    border:2px solid #999900;
}

/* GENERAL CLASSES */
.cursor-pointer{
    cursor:pointer;
}
.page-title{
    text-align:center;
}